doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPgNFXQRO_PlOgJMnY-UXgMmIxL5hW3E')
    script(src='/javascripts/map.js')
  body
    block content